{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
<a href="{% url "social:begin" "google-oauth2" %}"><button class="btn btn-danger" style="width: 40%">G+ Login</button></a>
<li><a href="{% url 'logout' %}">Logout</a></li>
<p><a href="{%url 'login'%}">다시 로그인하기</a></p>
{% endblock %}
